@font-face {
  font-family: friz-regular;
  src: url(../fonts/Friz-Quadrata-Regular.ttf);
}

@font-face {
  font-family: friz-bold;
  src: url(../fonts/Friz-Quadrata-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  color: #000;
  background: #cdbe91;
}

::selection {
  color: #000;
  background: #cdbe91;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}

body header {
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 10000000;
  padding: 1rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

body header .socialMedia a {
  padding: 0.9rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #cdbe91;
  text-decoration: none;
  color: #cdbe91;
  position: relative;
}

body header .socialMedia a i {
  font-size: 1.25rem;
}

body header .socialMedia a:hover {
  color: #000;
}

body header .socialMedia a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #cdbe91;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body header .socialMedia a:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

body header .socialMedia a:first-child {
  padding: 0.9rem 0.9rem 1rem 1.1rem;
}

body header .languageButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

body header .languageButtons button {
  cursor: pointer;
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #cdbe91;
  text-decoration: none;
  color: #cdbe91;
  position: relative;
}

body header .languageButtons button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #cdbe91;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body header .languageButtons button:hover {
  color: #000;
}

body header .languageButtons button:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  left: 50%;
  top: 22%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

body .container h1 {
  font-family: friz-regular;
  letter-spacing: 4px;
  font-size: 3rem;
  color: #cdbe91;
  text-transform: uppercase;
  text-shadow: 0px 10px 10px rgba(28, 28, 28, 0.446);
}

body .container #lead {
  font-size: 1.5rem;
  font-family: friz-regular;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #cdbe91;
  text-shadow: 0px 10px 10px rgba(28, 28, 28, 0.446);
  margin-bottom: 2rem;
}

body .container p {
  color: #fffcee;
  text-shadow: 0px 10px 10px rgba(28, 28, 28, 0.446);
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

body .container input {
  font-family: friz-regular;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  letter-spacing: 1px;
  width: auto;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.377);
  color: #cdbe91;
  border: 1px solid #cdbe91;
  -webkit-box-shadow: 0px 10px 20px rgba(28, 28, 28, 0.2);
          box-shadow: 0px 10px 20px rgba(28, 28, 28, 0.2);
}

body .container input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #cdbe91;
}

body .container input:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #cdbe91;
}

body .container input::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #cdbe91;
}

body .container input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #cdbe91;
}

body .container button {
  min-width: 300px;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1rem 1.5rem;
  background: #7979e7;
  color: #fff;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

body .imgHeader {
  position: relative;
  margin: 2rem 0;
  top: 30%;
}

body .imgHeader .img-container {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  border: 4px solid #cdbe91;
}

body .imgHeader .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .imgHeader::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#cdbe9100), color-stop(#cdbe91), to(#cdbe9100));
  background: linear-gradient(to right, #cdbe9100, #cdbe91, #cdbe9100);
  z-index: -1;
}

body .results {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 69%;
  font-family: inherit;
  min-width: 1500px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

body .results .champResults {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  row-gap: 2rem;
  height: 500px;
}

body .results .champResults .flexItem {
  grid-column: span 2;
  padding-top: 0.8rem;
}

body .results .champResults .flexItem h2 {
  margin: 1.25rem 0;
}

body .results .champResults .flexItem:last-child {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

body .results .champResults h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

body .results .champResults div {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1.72rem;
  border-radius: 10px;
  font-size: 1rem;
}

body .results .champResults div span {
  line-height: 25px;
}

body .results .champResults .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  padding: 1rem;
  border-radius: 0px;
  color: #cdbe91;
}

body .results .champResults .header h1, body .results .champResults .header h2 {
  font-family: friz-regular;
  letter-spacing: 1px;
}

body .results .champResults .header h1 {
  font-size: 3rem;
}

body .results .champResults .header h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

body .results .champResults .header::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#cdbe9100), color-stop(#cdbe91), to(#cdbe9100));
  background: linear-gradient(to right, #cdbe9100, #cdbe91, #cdbe9100);
}

body .results .champResults .header::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#cdbe9100), color-stop(#cdbe91), to(#cdbe9100));
  background: linear-gradient(to right, #cdbe9100, #cdbe91, #cdbe9100);
}

body .results .champResults .role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  border-radius: 20px 0px 0px 20px;
  position: relative;
  padding-bottom: 0;
}

body .results .champResults .role .hpArmorCost {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-top: 0;
  width: 100%;
}

body .results .champResults .role .hpArmorCost div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: transparent;
  padding: 0;
}

body .results .champResults .role .hpArmorCost span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  gap: 1rem;
}

body .results .champResults .role .hpArmorCost .insValue {
  width: auto;
  font-size: 2rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

body .results .champResults .role .roleName {
  font-family: friz-regular;
  color: #cdbe91;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 700;
}

body .results .champResults .role::after {
  content: 'ROLE';
  font-family: friz-regular;
  border: 1px solid #fff;
  text-align: center;
  background: #1d1d1d;
  border-radius: 10px;
  font-size: 1.4rem;
  position: absolute;
  width: 125px;
  padding: 0.6rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .results .champResults .lore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  position: relative;
}

body .results .champResults .lore h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

body .results .champResults .lore::after {
  content: 'LORE';
  font-family: friz-regular;
  border: 1px solid;
  background: #1d1d1d;
  border-radius: 10px;
  font-size: 1.4rem;
  position: absolute;
  width: 125px;
  padding: 0.6rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .results .champResults .passive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  border-radius: 0px 0px 20px 20px;
}

body .results .champResults .passive h2 {
  font-family: friz-regular;
  letter-spacing: 1px;
  color: #cdbe91;
}

body .results .champResults .passive .passiveName {
  font-family: friz-regular;
  font-size: 2rem;
  line-height: 35px;
  margin-bottom: 10px;
  font-weight: 700;
}

body .results .champResults .passive::after {
  content: 'PASSIVE';
  font-family: friz-regular;
  border: 1px solid;
  background: #1d1d1d;
  border-radius: 10px;
  font-size: 1.4rem;
  position: absolute;
  width: 125px;
  padding: 0.6rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .results .champResults .tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .backgroundLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 18, 37, 0.1)), to(rgba(0, 11, 23, 0.9)));
  background: linear-gradient(to top, rgba(0, 18, 37, 0.1), rgba(0, 11, 23, 0.9));
  z-index: -49;
}

body #backgroundImg {
  position: absolute;
  width: 100%;
  height: 120vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%) opacity(0.5);
          filter: grayscale(100%) opacity(0.5);
  top: 0;
  left: 0;
  z-index: -50;
}
/*# sourceMappingURL=styles.css.map */